.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.btn button{
    width:150px;
    height: 80px;
    font-size: 30px;
    color:white;
    background-color: yellowgreen;
    border-radius: 15px;
    letter-spacing: 5px;

}